<div class="container-city">
    <div class="widget-city" [ngClass]="getClassByDescription(dataCity?.weather?.description)">
        <div class="div-cont-uno">
            <div class="uno-titulos">
                <h1 class="titulos-ciudad">{{dataCity?.location?.name}}</h1>
                <h2 class="titulos-provincia">{{dataCity?.location?.province}}</h2>
            </div>
            <div class="div-cont-dos">
                <div class="dos-grados">
                    <h1 class="dos-temp">{{dataCity?.temperature}}<span class="celsius">ºC</span></h1>
                    <h2 class="dos-st">ST: {{dataCity?.feels_like ? dataCity?.feels_like + 'ºC': '-'}}</h2>
                </div>
                <div class="dos-descripcion">
                    <img src="http://ws1.smn.gob.ar/sites/all/themes/smn/img/weather-icons/{{geticonByDescription(dataCity?.weather?.description, dataCity?.weather?.id)}}.png" alt="Imagen del clima" class="img-clima">
                    <h2 class="descripcion-clima">{{dataCity?.weather?.description}}</h2>
                </div>
            </div> 
        </div>

        <div class="div-cards-details">
            <div class="card-details">
                <span class="title-card-details">Humedad</span>
                <div class="div-content-card">
                    <span class="content-card-details">{{dataCity?.humidity}}</span>
                    <span class="content-card-index">%</span>
                </div>
            </div>
            <div class="card-details">
                <span class="title-card-details">Viento</span>
                <div class="div-content-card">
                    <span class="content-card-details">{{dataCity?.wind?.speed}}</span>
                    <span class="content-card-index">km/h</span>
                </div>
            </div>
            <div class="card-details">
                <span class="title-card-details">Presion</span>
                <div class="div-content-card">
                    <span class="content-card-details">{{dataCity?.pressure}}</span>
                    <span class="content-card-index">hPa</span>
                </div>
            </div>
            <div class="card-details">
                <span class="title-card-details">Visibilidad</span>
                <div class="div-content-card">
                    <span class="content-card-details">{{dataCity?.visibility}}</span>
                    <span class="content-card-index">km</span>
                </div>
            </div>
            <div class="card-details">
                <span class="title-card-details">Amanecer/Atardecer</span>
                <div class="div-content-card">
                    <span class="content-card-details sunrise-sunset"> ↑ {{sunriseSunset?.sun?.sunrise}}</span>
                    <span class="content-card-index">hs</span>
                </div>
                <div class="div-content-card">
                    <span class="content-card-details sunrise-sunset"> ↓ {{sunriseSunset?.sun?.sunset}}</span>
                    <span class="content-card-index">hs</span>
                </div>
            </div>
        </div>

    </div>


    <!-- <div class="forecast-city">
        <div>
            <button class="forecast-button" (click)="idForecast= 1">{{forecastCity?.forecast[1]?.date | date:'EE' | uppercase}}</button>
            <button class="forecast-button" (click)="idForecast= 2">{{forecastCity?.forecast[2]?.date | date:'EE' | uppercase}}</button>
            <button class="forecast-button" (click)="idForecast= 3">{{forecastCity?.forecast[3]?.date | date:'EE' | uppercase}}</button>
            <button class="forecast-button" (click)="idForecast= 4">{{forecastCity?.forecast[4]?.date | date:'EE' | uppercase}}</button>
            <button class="forecast-button" (click)="idForecast= 5">{{forecastCity?.forecast[5]?.date | date:'EE' | uppercase}}</button>
        </div>
        
        <div class="dia-temps">
            <span>{{forecastCity?.forecast[idForecast]?.date | date:'EEEE' | uppercase}} - MIN: {{forecastCity?.forecast[idForecast]?.temp_min}}ºC | MAX: {{forecastCity?.forecast[idForecast]?.temp_max}}ºC</span>
        </div>

        <div class=detalle-pronostico>
            <div class="pronostico" [ngClass]="getClassByDescriptionForecast(forecastCity?.forecast[idForecast]?.morning?.weather.description)">
                <span>Mañana</span>
                    <img src="http://ws1.smn.gob.ar/sites/all/themes/smn/img/weather-icons/{{forecastCity?.forecast[idForecast]?.morning?.weather?.id}}.png" alt="" class="icon-clima">
                <span>{{forecastCity?.forecast[idForecast]?.morning?.weather.description}}</span>
                <span>Humedad: {{forecastCity?.forecast[idForecast]?.morning.humidity}} %</span>
            </div>
    
            <div class="pronostico" [ngClass]="getClassByDescriptionForecast(forecastCity?.forecast[idForecast]?.afternoon.weather.description)">
            <span>Tarde</span>
            <img src="http://ws1.smn.gob.ar/sites/all/themes/smn/img/weather-icons/{{forecastCity?.forecast[idForecast]?.afternoon?.weather?.id}}.png" alt="" class="icon-clima">
            <span>{{forecastCity?.forecast[idForecast]?.afternoon?.weather.description}}</span>
            <span>Humedad: {{forecastCity?.forecast[idForecast]?.afternoon.humidity}} %</span>
            </div>
        </div>
        </div> -->
</div>